body {
  background-color: #def3e3;
}

p,
li {
  font-size: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}

#tablestyle {
  font-family: "Noto Sans TC", sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
}

#tablestyle td,
#tablestyle th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tablestyle tr:nth-child(even) {
  background-color: #e7e7e7;
}

#tablestyle tr:hover {
  background-color: rgb(204, 247, 165);
}

#tablestyle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

#textindent {
  text-indent: 30px;
}

.header {
  background-color: #7cc28b;
}
a {
  text-decoration: none;
  color: #087c0c;
}
